{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": 10
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    ["module-resolver", {
      "root": ["."]
    }]
  ]
}
